@font-face {
    font-family: 'GothamHTF_Bold';
    src: url('../fonts/GOTHAMHTF-BOLD.OTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham_light';
    src: url('../fonts/GOTHAM-LIGHT.OTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF_Ultra';
    src: url('../fonts/GothamHTF-Ultra.eot');
    src: url('../fonts/GothamHTF-Ultra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-Ultra.woff2') format('woff2'),
         url('../fonts/GothamHTF-Ultra.woff') format('woff'),
         url('../fonts/GothamHTF-Ultra.ttf') format('truetype'),
         url('../fonts/GothamHTF-Ultra.svg#kelson_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}